:root {
    --main-bg-color: #F9F9F9;
    --secondary-bg-color: #EEEFF1;
    --third-bg-color: #34547A;

    --main-text-color: #000000;
    --secondary-text-color: #727272;
    --third-text-color: #FFFFFF;
}

* {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;
}

img{
    width: 100%;
    height: 100%;
}

button{
    box-sizing: none;
    padding: 0;
    border-width: none;
    border-style: none;
    border: medium none;
    border-spacing: 0;
    text-decoration: none;
}

/*typografy*/

.title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
}

.primary-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: var(--secondary-text-color);
    line-height: 26px;
}

.third-text{
    color: var(--third-text-color);
}

.inner-wrapper {
    max-width: 80%;
    margin: auto;
}

.bg-grey{
    background-color: var(--secondary-bg-color);
}



/*Header menu*/

.menu{
    height: 160px;
    position: relative;
}

.menu__row{
    display:flex;
    justify-content: space-around;
}
.menu__col{
    padding-top: 50px;
    
}


.menu__col .logo{
    position: relative;
    font-size: 48px;
    line-height: 60px;
}

.navigation li{
    display:inline-block;
    padding: 20px 16px;
}



/*Section1*/

.section {
    padding:100px 0px;
}

.section1__row{
    display:flex;
}

.section1__col{
    width: 50%;
}

.section1__image{
    width: 360px;
    height: 230px;
    max-width: 100%;

    max-height: 100%;
}

.section1__title{
    margin-bottom: 60px;
}

.section1__text{
    margin-bottom: 60px;
}

.button{
    width: 225px;
    height: 60px;
}
.button a{
    display: flex;
    width:100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: var(--third-bg-color);
    color: var(--third-text-color);
}


/*about me*/

.about-me{
    text-align: center;
}

.about-me__title{
    margin-bottom: 60px;
}

.about-me__text{
    max-width: 560px;
    margin: auto;
    line-height: 26px;
}



/*projekts*/

.projekts{
    padding: 100px 0;
    background-color: var(--third-bg-color);
}

.projekts__row{
    display: flex;
}

.projekts__col{
    flex:1;
    display: flex;
}

.projekts__text, .projekts__description{
    color: var(--third-text-color);
}

.projekts__text-group{
    padding: 8px 5px;
}

.projekts__image{
    max-width: 50px;
    max-height: 50px;
}


/*work*/

.work__row{
    display: flex;
    justify-content: space-evenly;
}


.work__img{
    max-width: 550px;
    max-height: 450px;
}

.work__title{
    margin-bottom: 50px;
}

.skills{
    margin-bottom:30px;
}

.skills__progress{
    display:flex;
}

.skills__good{
    flex:8;
    background-color: var(--third-bg-color);
    height: 4px;
}

.skills__bad{
    flex:2;
    background-color: var(--secondary-text-color);
    height: 4px;
}

/*info*/

.info{
    text-align: center;
}

.info__title{
    margin-bottom: 50px;
}

.info__text{
    margin:auto;
    margin-bottom: 60px;
    max-width: 540px;
}

.info__image{
    max-width: 1100px;
    max-height: 600px;
    margin:auto;
}


/*gallery*/

.gallery__images{
    margin-bottom:70px;
}

.gallery__row{
    display: flex;
}

.gallery__col{
    width: 24%;
    margin:1px;
}

.gallery .labels__row{
    display: flex;
    justify-content: center;
}

.gallery .labels__col{
    width: 25%;
}

.gallery .labels__col img{
    max-width:255px;
    min-height: 120px;
}

/*feedback*/

.feedback{
    text-align: center;
}

.feedback__wrapper{
    margin:auto;
    max-width: 540px;
}

.feedback__title{
    margin-bottom: 50px;
}

.feedback__text{
    line-height: 26px;
    margin:auto;
    max-width: 540px;
    margin-bottom: 50px;
}

.feedback__form{
    text-align: center;
}

.feedback__button{
    margin:auto;
    margin-top:50px;
}

.form-group{
    display: flex;
    justify-content: space-between;
    margin: 10px 0px;
}

.feedback__button button{
    background-color: var(--third-bg-color);
    color: var(--third-text-color);
}

.form-group__col {
    width: 45%;
}

.form-group__col input{
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    box-sizing: border-box;
    width: 100%;
}

.form-group__text-area {
    width: 100%;
}
.form-group__text-area textarea {
    padding: 12px;
    height: 175px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    box-sizing: border-box;
}


/* footer contacts*/


.contacts{
    background-color: var(--third-bg-color);
    padding: 50px 0;
}

.contacts__row{
    display: flex;
}

.contacts__col{
    flex:1;
}

.contacts .col1{
    justify-content: center;
}

.contacts .col2{
    margin: auto;
}

.contacts__images-group{
    display: flex;
    justify-content: center;
}

.contacts__image{
    padding: 0 10px;
}

.contacts__image{
    max-width: 42px;
    max-height: 22px;
}


.contacts__text-block{
    text-align: start;
    padding-left: 50%;
}